<div class="row">
    <div class="col-md-10 visualisationContainer">
        {{architecture-visualisation-cytoscape graph=graph layoutAlgorithm=layoutAlgorithm theme=theme select=(action "graphClick")}}
    </div>
    <div class="col-md-2 visualistaionSidebar">
        <div class="form-group">
          <label for="layoutAlgorithm">Layout:</label>
          <select class="form-control" id="layoutAlgorithm" onchange={{action "selectLayoutAlgorithm" value="target.value"}}>
            {{#each layoutAlgorithms as |algorithm|}}
                <option>{{algorithm}}</option>
            {{/each}}
          </select>
        </div>
        <div class="form-group">
          <label for="layoutTheme">Theme:</label>
          <select class="form-control" id="layoutTheme" onchange={{action "selectTheme" value="target.value"}}>
            {{#each themes as |theme|}}
                <option>{{theme}}</option>
            {{/each}}
          </select>
        </div>

        {{#if entityDetails}}
            <h3>Details</h3>
            {{entityDetails.type}}
        {{/if}}
    </div>
</div>

