
{{!-- sidebar will be closed since both views do not contain the same elements --}}
<li>
    {{#if (eq model.mode 'architectures')}}
        {{#link-to 'deployments.single' model.systemId class='btn btn-default btn-navbar' tagName='button'}}
            Deployments
        {{/link-to}}
    {{else}}
        {{#link-to 'architectures.single' model.systemId class='btn btn-default btn-navbar' tagName='button'}}
            Architecture
        {{/link-to}}
    {{/if}}
</li>

<li>
    <button {{action 'applyQueueUpdates'}} class="btn {{if changelogQueue.empty 'btn-default' 'btn-warning'}} btn-navbar" disabled={{ changelogQueue.empty }} title="Updates are possible when the deployment changed and new information is ready to get visualized!">
        <i class="glyphicon glyphicon-refresh"></i> Apply Updates {{#if changelogQueue.available}}({{ changelogQueue.size }}){{/if}}
    </button>
</li>

{{visualisation-settings tagName='li'}}

{{outlet}} {{!-- for component nested --}}